{% extends "base.html" %}

{% block title %}{{ SITENAME }} &middot; {{ page.title }}{% endblock %}

{% block content %}

            <article class="article">
            	<header classs="article__header">
            		<h1 class="article__title">{{ page.title }}</h1>
            	</header>
                <section class="article__content cf">
                    {% if page.image -%}
                        <div class="article__image-wrapper">
                            <img class="article__image" src="{% if not page.image.startswith('http') %}{{SITEURL}}{% endif %}{{page.image}}" alt="{% if page.title %}{{page.title}}{% else %}qnub image{% endif %}"/>
                        </div>
                    {% endif %}
                	{{ page.content }}
                </section>
            </article>
{% endblock %}
