<div class="sidebar__item">
    <h4 class="sidebar__title">Проекты</h4>
    <ul class="sidebar__subscribe">
        <li class="sidebar__subscribe-item">
            <a href="http://gik.me" class="sidebar__subscribe-link sidebar__subscribe-link_gikme link">gik.me подкаст</a>
        </li>
        {# <li class="sidebar__subscribe-item">
            <a href="https://registr.xyz" class="sidebar__subscribe-link sidebar__subscribe-link_registr link">REGISTR</a>
        </li> #}
        {# <li class="sidebar__subscribe-item">
            <a href="http://podster.fm/user/gikme" class="sidebar__subscribe-link sidebar__subscribe-link_podster link">gik.me на podster.ru</a>
        </li>
        <li class="sidebar__subscribe-item">
            <a href="http://yahujik.podfm.ru/gikme/" class="sidebar__subscribe-link sidebar__subscribe-link_podfm link">gik.me на podfm.ru</a>
        </li>
        <li class="sidebar__subscribe-item">
            <a href="https://itunes.apple.com/ru/podcast?id=597105136" class="sidebar__subscribe-link sidebar__subscribe-link_itunes link">gik.me в iTunes</a>
        </li>
        <li class="sidebar__subscribe-item">
            <a href="https://www.pushbullet.com/channel?tag=gikme" class="sidebar__subscribe-link sidebar__subscribe-link_pushbullet link">gik.me в Pushbullet</a>
        </li> #}
    </ul>
</div>
<div class="sidebar__item">
    <h4 class="sidebar__title">Контакты</h4>
    <ul class="sidebar__socials">
        <li class="sidebar__socials-item">
            <a href="https://github.com/qnub" class="sidebar__socials-link sidebar__socials-link_gh" target="_blank">GitHub</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="https://ru.linkedin.com/in/vadlop" class="sidebar__socials-link sidebar__socials-link_in" target="_blank">LinkedIn</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="https://vk.com/qnub_ru" class="sidebar__socials-link sidebar__socials-link_vk" target="_blank">Вконтакте</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="https://plus.google.com/+VadimLopatyuk" class="sidebar__socials-link sidebar__socials-link_gp" target="_blank">Гугл Плюс</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="http://instagram.com/qnub" class="sidebar__socials-link sidebar__socials-link_ig" target="_blank">Инстаграм</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="https://twitter.com/qnub" class="sidebar__socials-link sidebar__socials-link_tw" target="_blank">Твиттер</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="https://www.facebook.com/qnub.ru" class="sidebar__socials-link sidebar__socials-link_fb" target="_blank">Фейсбук</a>
        </li>
    </ul>
</div>
{# <div class="sidebar__item">
    <h4 class="sidebar__title">Поддержать</h4>
    <ul class="sidebar__donate">
        <li class="sidebar__donate-item">
            <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?account=410011889725372&quickpay=small&yamoney-payment-type=on&button-text=06&button-size=s&button-color=orange&targets=%D0%92%D0%B0%D0%B4%D0%B8%D0%BC%D1%83+%D0%BD%D0%B0+%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D1%84%D0%BE%D0%BD&default-sum=100&successURL=" width="147" height="31"></iframe>
        </li>
        <li class="sidebar__donate-item">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input
                    name="cmd"
                    type="hidden"
                    value="_s-xclick">
                <input
                    name="hosted_button_id"
                    type="hidden"
                    value="BMF83KQSRA29Q">
                <input
                    class="sidebar__paypal"
                    alt="PayPal — более безопасный и легкий способ оплаты через Интернет!"
                    border="0"
                    name="submit"
                    src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_donateCC_LG.gif"
                    type="image">
                <img
                    alt=""
                    border="0"
                    height="1"
                    src="https://www.paypalobjects.com/ru_RU/i/scr/pixel.gif"
                    width="1">
            </form>
        </li>
    </ul>
</div> #}
<div class="sidebar__item">
    <div id="vk_groups"></div>
</div>
{# {% if DISQUS_SITENAME %}
<div class="sidebar__item">
    <h4 class="sidebar__title">Комментарии</h4>
    <script type="text/javascript" src="http://{{DISQUS_SITENAME}}.disqus.com/recent_comments_widget.js"></script>
</div>
{% endif %} #}
{# <div class="sidebar__item">
    Хостинг сайта: <a href="https://bill2fast.com/aff.php?aff=3332" class="link" target="_blank">FastVPS</a><br>
    и <a href="https://www.digitalocean.com/?refcode=00e18fbdd21a" class="link" target="_blank">Digital Ocean</a>, звука: <a href="http://order.hostlife.net/pl.php?19255" class="link" target="_blank">HostLife</a>.
</div> #}
