<div class="sidebar__item">
    <h4 class="sidebar__title">Проекты</h4>
    <ul class="sidebar__subscribe">
        <li class="sidebar__subscribe-item">
            <a href="http://gik.me" class="sidebar__subscribe-link sidebar__subscribe-link_gikme link" target="_blank">gik.me подкаст</a>
        </li>
        <li class="sidebar__subscribe-item">
            <a href="https://www.registr.xyz" class="sidebar__subscribe-link sidebar__subscribe-link_registr link" target="_blank">REGISTR</a>
        </li>
        {# <li class="sidebar__subscribe-item">
            <a href="http://podster.fm/user/gikme" class="sidebar__subscribe-link sidebar__subscribe-link_podster link">gik.me на podster.ru</a>
        </li>
        <li class="sidebar__subscribe-item">
            <a href="http://yahujik.podfm.ru/gikme/" class="sidebar__subscribe-link sidebar__subscribe-link_podfm link">gik.me на podfm.ru</a>
        </li>
        <li class="sidebar__subscribe-item">
            <a href="https://itunes.apple.com/ru/podcast?id=597105136" class="sidebar__subscribe-link sidebar__subscribe-link_itunes link">gik.me в iTunes</a>
        </li>
        <li class="sidebar__subscribe-item">
            <a href="https://www.pushbullet.com/channel?tag=gikme" class="sidebar__subscribe-link sidebar__subscribe-link_pushbullet link">gik.me в Pushbullet</a>
        </li> #}
    </ul>
</div>
<div class="sidebar__item">
    <h4 class="sidebar__title">Контакты</h4>
    <ul class="sidebar__socials">
        <li class="sidebar__socials-item">
            <a href="https://github.com/qnub" class="sidebar__socials-link sidebar__socials-link_gh" target="_blank">GitHub</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="https://ru.linkedin.com/in/vadlop" class="sidebar__socials-link sidebar__socials-link_in" target="_blank">LinkedIn</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="https://vk.com/qnub_ru" class="sidebar__socials-link sidebar__socials-link_vk" target="_blank">VKontakte</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="https://plus.google.com/+VadimLopatyuk" class="sidebar__socials-link sidebar__socials-link_gp" target="_blank">Google+</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="https://twitter.com/qnub" class="sidebar__socials-link sidebar__socials-link_tw" target="_blank">twitter</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="https://telegram.me/qnub_me" class="sidebar__socials-link sidebar__socials-link_tg" target="_blank">telegram</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="https://www.facebook.com/qnub.ru" class="sidebar__socials-link sidebar__socials-link_fb" target="_blank">facebook</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="http://instagram.com/qnub" class="sidebar__socials-link sidebar__socials-link_ig" target="_blank">Instagram</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="http://www.twitch.tv/qnub_ru" class="sidebar__socials-link sidebar__socials-link_twch" target="_blank">twitch</a>
        </li>
        <li class="sidebar__socials-item">
            <a href="https://www.youtube.com/channel/UCoiQsFUonNG_exxkg382V8A" class="sidebar__socials-link sidebar__socials-link_yt" target="_blank">YouTube</a>
        </li>
    </ul>
</div>
<div class="sidebar__item">
    <ul class="article__tags">
        {% for tag, articles in tags|sort %}
        <li class="article__tags-item">
            <a href="{{SITEURL}}/{{tag.url}}" class="article__tags-link link">{{tag}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% if DISQUS_SITENAME %}
<div class="sidebar__item">
    <h4 class="sidebar__title">Комментарии</h4>
    <script type="text/javascript" src="http://{{DISQUS_SITENAME}}.disqus.com/recent_comments_widget.js"></script>
</div>
{% endif %}
<div class="sidebar__item">
<a class="twitter-timeline" href="https://twitter.com/qnub" data-widget-id="569226580497797120" target="_blank">Твиты от @qnub</a>
<script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="sidebar__item">
    <a href="http://orphus.ru" id="orphus" target="_blank"><img alt="Система Orphus" src="{{ SITEURL }}/theme/img/orphus.gif" border="0" width="220" height="80" /></a>
</div>
